<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Ecom Summary page</title>
	<link rel="stylesheet" type="text/css" href="assets/css/bootstrap-icons.css">
	<link rel="stylesheet" type="text/css" href="assets/css/styles.css">
</head>
<body>

	
	<header class="class_1" >
		<div class="class_2" >
			<img src="assets/images/vendor-1.jpg" class="class_3" >
		</div>
		<div  class="item_class_0 class_4">
			<div  class="item_class_1 class_5">
				<svg clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" >
					<path d="m22 16.75c0-.414-.336-.75-.75-.75h-18.5c-.414 0-.75.336-.75.75s.336.75.75.75h18.5c.414 0 .75-.336.75-.75zm0-5c0-.414-.336-.75-.75-.75h-18.5c-.414 0-.75.336-.75.75s.336.75.75.75h18.5c.414 0 .75-.336.75-.75zm0-5c0-.414-.336-.75-.75-.75h-18.5c-.414 0-.75.336-.75.75s.336.75.75.75h18.5c.414 0 .75-.336.75-.75z" fill-rule="nonzero" >
					</path>
				</svg>
			</div>
			<div  class="item_class_2 class_6">
				<a href="#" class="class_7"  >
					Home
				</a>
				<a href="#" class="class_7"  >
					Shop
				</a>
				<a href="#" class="class_7"  >
					Cart
				</a>
				<a href="#" class="class_7"  >
					About us
				</a>
				<a href="#" class="class_7"  >
					Contact us
				</a>
			</div>
		</div>
		<div class="class_8"  >
			<img src="assets/images/user.jpg" class="class_9" >
			Hi, User
		</div>
	</header>
	<div class="class_10" >
		<h1 class="class_11"  >
			Summary
		</h1>
		<div class="class_12" >
		</div>
		<div class="class_13" >
			<div class="class_14" >
				<h2 class="class_15"  >
					Confirm your details:
					<br>
				</h2>
				<div class="class_16" >
					<label class="class_17"  >
						Your Name:
					</label>
					<input placeholder="" type="text" name="username" class="class_18" >
				</div>
				<div class="class_16" >
					<label class="class_17"  >
						Your Email:
					</label>
					<input placeholder="" type="text" name="username" class="class_18" >
				</div>
				<div class="class_16" >
					<label class="class_17"  >
						Phone Number:
					</label>
					<input placeholder="" type="text" name="username" class="class_18" >
				</div>
				<div class="class_16" >
					<label class="class_17"  >
						Delivery address:
					</label>
					<input placeholder="" type="text" name="username" class="class_18" >
				</div>
				<h3 class="class_19"  >
					Payment method:
					<br>
				</h3>
				<label  class="class_20" type="submit" name="payment_method" >
					<input type="checkbox" name=""  class="class_21">
					Card
					<i class="bi bi-credit-card-2-back-fill class_22">
					</i>
				</label>
				<label  class="class_23" type="submit" name="payment_method" >
					<input type="checkbox" name=""  class="class_21">
					Paypal
					<i class="bi bi-paypal class_22">
					</i>
				</label>
				<button class="class_24"  >
					PAY
				</button>
			</div>
			<div class="class_25" >
				<button class="class_26"  >
					&lt;Back_to_cart
				</button>
				<div class="class_12" >
					<table  class="item_class_4 class_27">
						
						<thead  style="">
							
							<tr >
								
								<th scope="col" >
									#
								</th>
								
								<th scope="col" >
									Product
								</th>
								
								<th scope="col" >
									Qty
								</th>
								
								<th scope="col" >
									Amount
								</th>
								
								<th scope="col" >
									Total
								</th>
								
							</tr>
							
						</thead>
						
						<tbody >
							
							<tr >
								
								<th >
									1
								</th>
								
								<td >
									Camera
								</td>
								
								<td >
									1
								</td>
								
								<td >
									$99
								</td>
								
								<td >
									$99
								</td>
								
							</tr>
							
							<tr >
								
								<th >
									2
								</th>
								
								<td >
									Watch
								</td>
								
								<td >
									1
								</td>
								
								<td >
									$23
								</td>
								
								<td >
									$23
								</td>
								
							</tr>
							
							<tr >
								<th >
									2
								</th>
								<td >
								</td>
								<td >
								</td>
								<td >
									Total:
								</td>
								<td  class="class_28">
									$132
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="class_29" >
		<div class="class_30" >
			<a href="#" class="class_31"  >
				Login
			</a>
			<a href="#" class="class_31"  >
				Signup
			</a>
			<a href="#" class="class_31"  >
				Shop
			</a>
		</div>
		<div class="class_30" >
			<a href="#" class="class_31"  >
				Terms &amp; conditions
			</a>
			<a href="#" class="class_31"  >
				Terms of use
			</a>
			<a href="#" class="class_31"  >
				Shop
			</a>
		</div>
		<div class="class_30" >
			<a href="#" class="class_31"  >
				Login
			</a>
			<a href="#" class="class_31"  >
				Signup
			</a>
			<a href="#" class="class_31"  >
				Shop
			</a>
		</div>
		<div class="class_30" >
			<a href="#" class="class_31"  >
				Login
			</a>
			<a href="#" class="class_31"  >
				Signup
			</a>
			<a href="#" class="class_31"  >
				Shop
			</a>
		</div>
	</div>
	
</body>
</html>