<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Ecom add product page</title>
	<link rel="stylesheet" type="text/css" href="assets/css/bootstrap-icons.css">
	<link rel="stylesheet" type="text/css" href="assets/css/styles.css">
</head>
<body>

	
	<form method="post" enctype="multipart/form-data" class="class_1" >
		<h1 class="class_2"  >
			Add Product
			<br>
			<i class="bi bi-bag-heart-fill class_3">
			</i>
		</h1>
		<div class="class_4" >
			<img src="assets/images/13.jpg" class="class_5" >
			<input type="file" name="image"  class="class_6">
		</div>
		<div class="class_7" >
			<label class="class_8"  >
				Product Name:
			</label>
			<input placeholder="" type="text" name="username" class="class_9" >
		</div>
		<div class="class_7" >
			<label class="class_8"  >
				Description:
			</label>
			<input placeholder="" type="text" name="username" class="class_9" >
		</div>
		<div class="class_7" >
			<label class="class_8"  >
				Price:
			</label>
			<input placeholder="" type="number" name="username" class="class_9"  value="0.00">
		</div>
		<div class="class_7" >
			<label class="class_8"  >
				Quantity:
			</label>
			<input placeholder="" type="number" name="username" class="class_9"  value="1">
		</div>
		<button class="class_10"  >
			Cancel
		</button>
		<button class="class_11"  >
			Create
		</button>
	</form>
	
</body>
</html>